h1 {
    text-align: center;
    color: cornflowerblue;
  }
  h2 {
    text-align: center;
    color: cornflowerblue;
  }


  nav {
    background-color: cornflowerblue;
    padding: 10px;
}

nav ul {
  text-align: center;
    list-style-type: none;
    margin: 0;
}

nav li {
  padding-right: 80px;
  text-align: center;
    display: inline;
    margin-right: 25px;
}

nav a {
  text-align: center;
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}

body {
  background-color: lightblue;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}

img {
  width: 400px;
}

button {
  margin: 10px;
}

.images-for-landing img{
  display: flex;
  width: 550px;
  padding: 20px;
position: absolute;
}

.data-ins{

  margin-left: 500px;
  padding-top: 20px;
  padding-bottom: 20px;

}

.buttons{
  display: inline-block;
  margin: auto;
}
